/* 
    Created on : Jan 6, 2021, 12:52:40 PM
    Author     : wonderkide
*/
.cursor-pointer{
    cursor: pointer;
}
.bg-no-content {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}